<h1>Localfind</h1>
<h2>Stores</h2>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


<ol>

  <% @stores.each do |store|%>
    <li><strong><%= link_to store.name, store_path(store)%></strong> -
    <em><%= store.address %></em>
    <%= store.description %></li>
  <% end %>
</ol>
