
<h1><%= @store.name %></h1>
<p><%= @store.description %></p>
<p><%= @store.address %></p>
<%= link_to "âš™ï¸", edit_store_path(@store) %>

<% if @items.present? %>
  <ul>
    <% @items.each do |item| %>
      <li>
        <%= item.name %> - <%= item.price %>â‚¬
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No items available</p>
<% end %>

<h2>Admin Page</h2>
<% if @items.present? %>
  <ul>
    <% @all_items.each do |item| %>
      <li>
        <%= item.name %> - <%= item.price %>â‚¬
        <%= link_to "âš™ï¸", edit_item_path(item) %>
        <%= link_to "ðŸ—‘ï¸", item_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= item.visible? ? "â—‰" : "â—Ž" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No items available</p>
<% end %>

<%= link_to "Add Item", new_item_path(store_id: @store.id) %>
<%= link_to "Destroy", store_path(@store), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to "Home", root_path %>
