
<div class="py-10 px-20">
  <div class="flex flex-row gap-2">

    <div class="py-4 mb-5 w-2/4 flex flex-col justify-between">
      <div class="space-y-1">
        <div class="flex flex-row justify-between">
          <div class="text-2xl text-slate-900"><%= @store.name %></div>
          <div><%= link_to "âš™ï¸", edit_store_path(@store) %></div>
        </div>
        <div><%= @store.address %></div>
      </div>
      <div>
        <p class="font-semibold">Opening times:</p>
          <p><%= @store.opening_times %></p>
      </div>
      <div class="bg-slate-100 text-green-700 font-light p-2 rounded-lg"><%= @store.description %></div>
    </div>

    <div class="mb-5" style="width: 50%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div>
    <div class="bg-slate-100 p-4 mb-5">
      <p class="">Items</p>
      <% if @items.present? %>
        <ul>
          <% @items.each do |item| %>
            <li>
              <%= item.name %> - <%= item.price %>â‚¬
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No items available</p>
      <% end %>
    </div>

    <div class="bg-slate-100 p-4 mb-5">
      <h2>Admin Page</h2>
      <% if @all_items.present? %>
        <ul>
          <% @all_items.each do |item| %>
            <li>
              <%= item.name %> - <%= item.price %>â‚¬
              <%= link_to "âš™ï¸", edit_item_path(item), class:"bg-slate-200 p-1 rounded-md" %>
              <%= link_to "ðŸ—‘ï¸", item_path(item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"bg-slate-200 p-1 rounded-md" %>
              <%= item.visible? ? "â—‰" : "â—Ž" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No items available</p>
      <% end %>
    </div>

    <div>
      <%= link_to "Add Item", new_item_path(store_id: @store.id), class:"bg-green-600 p-2 rounded-md text-slate-100"%>
      <%= link_to "Delete Store", store_path(@store), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"bg-green-600 p-2 rounded-md text-slate-100" %>
      <%= link_to "Home", root_path, class:"bg-green-600 p-2 rounded-md text-slate-100" %>
    </div>
  </div>
</div>
