<p>your location is = <%= @location %></p>
<div class="p-5 h-screen">
  <div class="relative" style="width: 100%; height: 100%;">
    <div style="width: 100%; height: 90%;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

<div class="flex justify-center items-center">
  <div class="w-2/6 absolute bottom-20 p-4 mb-5 bg-slate-100 rounded-lg shadow-md p-6 flex flex-col">

    <div class="mb-1">
      <%= form_with url: items_path, method: :get, class: "w-full flex items-center" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "p-1 flex-grow bg-slate-50 rounded-md border-inherit",
              placeholder: "Search for an item or category"
            %>
        <%= submit_tag "Search", name: "", class: "p-1 bg-slate-50 rounded-md text-slate-900 shadow-md ml-2 hover:bg-orange-400 hover:text-slate-50 hover:shadow-none" %>
      <% end %>
    </div>

    <div class="flex flex-row mt-2">
      <button class="flex-1 py-1 px-2 mx-1 bg-slate-50 text-slate-900 rounded-md shadow-md hover:bg-orange-400 hover:text-slate-50 hover:shadow-none">Sale</button>
      <button class="flex-1 py-1 px-2 mx-1 bg-slate-50 text-slate-900 rounded-md shadow-md hover:bg-orange-400 hover:text-slate-50 hover:shadow-none">Home</button>
      <button class="flex-1 py-1 px-2 mx-1 bg-slate-50 text-slate-900 rounded-md shadow-md hover:bg-orange-400 hover:text-slate-50 hover:shadow-none">Food</button>
      <button class="flex-1 py-1 px-2 mx-1 bg-slate-50 text-slate-900 rounded-md shadow-md hover:bg-orange-400 hover:text-slate-50 hover:shadow-none">Fairtrade</button>
    </div>
  </div>
</div>


  </div>
</div>
