<h1>LocalFind</h1>
<%= link_to "Add your Store", new_store_path%>

<hr>
<h2>Items near you</h2>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<% @items.each do |item| %>
  <ul>
    <li><strong><%= link_to item.name, store_path(item.store) %></strong> - <%= item.price %>€</li>
    <li><%= item.store.name %> - <%= item.store.address %></li>
    <li><%= item.categories %></li>
  </ul>
<% end %>
