<h1>LocalFind</h1>
<%= link_to "Add your Store", new_store_path%>

<hr>
<h2>Items near you</h2>
<div id="map" style="height: 500px;"></div>

<% content_for :javascript do %>
  <script>
    mapboxgl.accessToken = ENV['MAPBOX_API_KEY']; // Replace this with your Mapbox access token
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11', // Replace this with your desired map style
      center: [13.4318, 52.5125], // Set a default center for the map (Friedrichshain, Berlin)
      zoom: 12 // Set a default zoom level
    });

    const markers = <%= @markers.to_json.html_safe %>;

    markers.forEach((marker) => {
      const popup = new mapboxgl.Popup().setHTML(marker.infoWindow);

      new mapboxgl.Marker()
        .setLngLat([marker.lng, marker.lat])
        .setPopup(popup)
        .addTo(map);
    });
  </script>
<% end %>


<% @items.each do |item| %>
  <ul>
    <li><strong><%= link_to item.name, store_path(item.store) %></strong> - <%= item.price %>€</li>
    <li><%= item.store.name %> - <%= item.store.address %></li>
    <li><%= item.categories %></li>
  </ul>
<% end %>
